In [75]:
import numpy as np
from scipy import stats
import pandas as pd
data1 = np.rec.array([
('Pat', 5),
('Pat', 4),
('Pat', 4),
('Pat', 3),
('Pat', 9),
('Pat', 4),
('Jack', 4),
('Jack', 8),
('Jack', 7),
('Jack', 5),
('Jack', 1),
('Jack', 5),
('Alex', 9),
('Alex', 8),
('Alex', 8),
('Alex', 10),
('Alex', 5),
('Alex', 10)], dtype = [('Archer','|U5'),('Score', '<i8')])
 
f, p = stats.f_oneway(data[data['Archer'] == 'Pat'].Score,
                      data[data['Archer'] == 'Jack'].Score,
                      data[data['Archer'] == 'Alex'].Score)

KeyError: 'Archer'

In [76]:
data1

rec.array([('Pat',  5), ('Pat',  4), ('Pat',  4), ('Pat',  3),
           ('Pat',  9), ('Pat',  4), ('Jack',  4), ('Jack',  8),
           ('Jack',  7), ('Jack',  5), ('Jack',  1), ('Jack',  5),
           ('Alex',  9), ('Alex',  8), ('Alex',  8), ('Alex', 10),
           ('Alex',  5), ('Alex', 10)],
          dtype=[('Archer', '<U5'), ('Score', '<i8')])

In [77]:
print('f value:', f)
print('P value:', p, '\n')

f value: 4.999999999999998
P value: 3.1724017716117103e-06

In [78]:
Pat = 5, 4, 4, 3, 9, 4
Jack = 4, 8, 7, 5, 1, 5
Alex = 9, 9, 8, 10, 4, 10

A = Pat
B = Jack
C = Alex

In [79]:
all_scores = A + B + C

In [80]:
all_scores

(5, 4, 4, 3, 9, 4, 4, 8, 7, 5, 1, 5, 9, 9, 8, 10, 4, 10)

In [81]:
person_name = (['A'] * len(A)) + (['B'] * len(B)) + (['C'] * len(C))

In [82]:
data = pd.DataFrame({'person': person_name, 'score': all_scores})

In [83]:
data

   person  score
0       A      5
1       A      4
2       A      4
3       A      3
4       A      9
5       A      4
6       B      4
7       B      8
8       B      7
9       B      5
10      B      1
11      B      5
12      C      9
13      C      9
14      C      8
15      C     10
16      C      4
17      C     10

In [84]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [85]:
lm = ols('person ~ score', data=data).fit()
table = sm.stats.anova_lm(lm)

ValueError: endog has evaluated to an array with multiple columns that has shape (18, 3). This occurs when the variable converted to endog is non-numeric (e.g., bool or str).

In [86]:
# Compute overall mean
overall_mean = data['score'].mean()
overall_mean

6.055555555555555

In [87]:
# Compute Sum of Squares Total
data['overall_mean'] = overall_mean
ss_total = sum((data['score'] - data['overall_mean']) ** 2)
ss_total

124.94444444444446

In [88]:
# Compute group means
group_means = data.groupby('person').mean()
group_means = group_means.rename(columns = {'score': 'group_mean'})
group_means

        group_mean  overall_mean
person
A         4.833333      6.055556
B         5.000000      6.055556
C         8.333333      6.055556

In [89]:
# add group means and overall mean to the original data frame
data = data.merge(group_means, left_on = 'person', right_index = True)

In [90]:

# compute Sum of Squares Residual
ss_residual = sum((data['score'] - data['group_mean'])**2)
ss_residual

78.16666666666666